.incoming-orders-row {
    background: #FFFFFF;
    border-radius: 8px;
}

.incoming-orders-row>h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #232D42;
}

.incoming-orders-row>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
}

.incoming-orders-row>button {
    all: unset;
    background: #738AFE;
    border-radius: 50px;
    width: 10%;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
    cursor: pointer;
}

.incoming-order-view-container {
    background-color: #FFFFFF;
}

.incoming-order-view-table-border {
    border-bottom: 1px solid #C4C4C4;
}

.incoming-order-net-amount p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 175%;
    color: #04040B;
}

.incoming-orders-first-buttons>button {
    all: unset;
    background: #0048B3;
    box-shadow: 0px 2px 4px rgba(138, 146, 166, 0.3);
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
    width: 40%;
    padding: 10px 2%;
    text-align: center;
}

.incoming-orders-accept-btn {
    all: unset;
    background: #409900;
    box-shadow: 0px 2px 4px rgba(138, 146, 166, 0.3);
    border-radius: 4px;
    color: #FFFFFF;
}

.incoming-orders-decline-btn {
    all: unset;
    background: #C03221;
    box-shadow: 0px 2px 4px rgba(138, 146, 166, 0.3);
    border-radius: 4px;
    color: #FFFFFF;
}

.incoming-orders-counteroffer-btn {
    all: unset;
    background: #CC8039;
    box-shadow: 0px 2px 4px rgba(138, 146, 166, 0.3);
    border-radius: 4px;
    color: #FFFFFF;
}

.incoming-order-heading>span {
    font-weight: 800;
}

.incoming-order-sub-heading>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
}

.incoming-order-table>tr>td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #04040B;
}

.incoming-orders-table header {
    padding: 1rem;
    background-color: #E5E5E5;
}

.incoming-orders-table .rdt_TableHeadRow, .incoming-orders-table .rdt_TableBody, .incoming-orders-table .rdt_Pagination {
    background: #E5E5E5;
}

.incoming-orders-table .rdt_TableRow {
    background: #dbdbdb;
    border: 1px solid darkgray !important;
    border-radius: 8px;
    margin: 0.5rem 0;
}

.table-dropdown {
    background: #b3a6a6;
    border-radius: 10px;
    z-index: 1;
}

.table-dropdown>p {
    cursor: pointer;
    padding: 3px 1rem;
}

.table-dropdown>p:hover {
    background: #738AFE;
    border-radius: 6px;
    color: #FFFFFF;
}