.setings-modal{
    position: absolute;
    top: 40%;
    right: 0;
}

.modal-content{
    background: #FFFFFF;
}
.modal-content-dark{
    background: #222738;
}

.iconly-page{
    border: none;
    outline: none;
display: flex;
flex-direction: row;
align-items: flex-start;
}

.LTR{
    background-image: url(/public/assets/LTR.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 111px;
    width: 162px;


   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.RTL{
    background-image: url(/public/assets/RTL.png);

    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 111px;
    width: 162px;
    /* background: #151824; */
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.LTR-dark{
    background-image: url(/public/assets/LTRblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 111px;
    width: 162px;

   /* background: #151824; */
    border: 1px solid #404969;
}

.RTL-dark{
    background-image: url(/public/assets/RTLblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 111px;
    width: 162px;


   /* background: #151824; */
   border: 1px solid #404969;
}

.mini{
    background-image: url(/public/assets/Mini.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    width: 101px;
    height: 71px;

    /* background: #151824; */
    border: 1px solid #FFFFFF;
   border-radius: 4px;
}
.mini-dark{
    background-image: url(/public/assets/Miniblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    width: 101px;
    height: 71px;

    /* background: #151824; */
   border: 1px solid #404969;
}


.hover{
    background-image: url(/public/assets/Hover.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    width: 101px;
    height: 71px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.hover-dark{
    background-image: url(/public/assets/Hoverblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    width: 101px;
    height: 71px;
    border: 1px solid #404969;
}

.boxed{
    background-image: url(/public/assets/Boxed.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    width: 101px;
    height: 71px;

    /* background: #151824; */
    border: 1px solid #FFFFFF;
   border-radius: 4px;
}

.boxed-dark{
    background-image: url(/public/assets/Boxedblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    width: 101px;
    height: 71px;

    /* background: #151824; */
    border: 1px solid #404969;
   border-radius: 4px;
}

.rounded{
    background-image: url(/public/assets/Rounded.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;

   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.rounded1{
    background-image: url(/public/assets/Rounded.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;

   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.rounded2{
    background-image: url(/public/assets/Rounded.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;

   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.rounded3{
    background-image: url(/public/assets/Rounded.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;


   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.rounded-dark{
    background-image: url(/public/assets/Roundblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;

   /* background: #151824; */
   border: 1px solid #404969;
}
.rounded1-dark{
    background-image: url(/public/assets/Roundblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;

   /* background: #151824; */
   border: 1px solid #404969;
    border-radius: 4px;
}
.rounded2-dark{
    background-image: url(/public/assets/Roundblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;

   /* background: #151824; */
    border: 1px solid #404969;
    border-radius: 4px;
}
.rounded3-dark{
    background-image: url(/public/assets/Roundblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 114px;

   /* background: #151824; */
   border: 1px solid #404969;
}

.Headers{
    background-image: url(/public/assets/Headerglass.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;

   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.Headers-dark{
    background-image: url(/public/assets/Headerglassblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;

   /* background: #151824; */
   border: 1px solid #404969;
}

.Header{
    background-image: url(/public/assets/Headercolor.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;

   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.Headersss{
    background-image: url(/public/assets/Headercolor.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;

   /* background: #151824; */
   border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.Header-dark{
    background-image: url(/public/assets/HeaderSticky.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;

   /* background: #151824; */
   border: 1px solid #404969;
}
.Headersss-dark{
    background-image: url(/public/assets/HeaderSticky.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;
    border: 1px solid #404969;

   /* background: #151824; */

}

.Headerss{
    background-image: url(/public/assets/Transparent.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;

   /* background: #151824; */
   border: 1px solid #E3E3E3;
    border-radius: 4px;
}

.Headerss-dark{
    background-image: url(/public/assets/Headertransparentblack.png);
    /* height: 135px;
    width: 163px; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 163px;
    height: 116px;

   /* background: #151824; */
   border: 1px solid #404969;
    border-radius: 4px;
}

/* h2,h3{
    font-family: 'Inter';
    font-style: normal;
    color: #232D42;
    font-weight: 500;
} */

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #8A92A6;
}

.container-footer{
    /* width: 279px;
height: 19px; */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
/* font-size: 16px;
line-height: 19px; */

color: #8A92A6;
}

.container-footer-dark{
    /* width: 279px;
    height: 19px; */
    
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 500;
    font-size: 16px;
    line-height: 19px;
     */
    color: #8A92A6;
}


.btn-ellips{
flex-direction: column;
align-items: flex-start;
padding-left: 20px;
padding-right: 75px;
background: #FFFFFF;
border: 1px solid #E3E3E3;
padding-top: 10px;
padding-bottom: 10px
}

.btn-ellips-dark{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 75px;
    background: #222738;
    border: 1px solid #404969;  
    padding-top: 10px;
    padding-bottom: 10px
}

.btn-ellips1{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 69px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    padding-top: 10px;
    padding-bottom: 10px
    }
    
    .btn-ellips1-dark{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 69px;
        background: #222738;
        border: 1px solid #404969;  
        padding-top: 10px;
        padding-bottom: 10px
    }

    .btn-ellips2{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 75px;
        background: #FFFFFF;
        border: 1px solid #E3E3E3;
        padding-top: 10px;
        padding-bottom: 10px
        }
    
        .btn-ellips2-dark{
            flex-direction: column;
            align-items: flex-start;
            padding-left: 20px;
            padding-right: 75px;
            background: #222738;
            border: 1px solid #404969;  
            padding-top: 10px;
            padding-bottom: 10px
        }

        .btn-ellips3{
            flex-direction: column;
            align-items: flex-start;
            padding-left: 18px;
            padding-right: 30px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            padding-top: 10px;
            padding-bottom: 10px
        }

        .btn-ellips3-dark{
            flex-direction: column;
            align-items: flex-start;
            padding-left: 18px;
            padding-right: 30px;
            background: #222738;
            border: 1px solid #404969;
            padding-top: 10px;
            padding-bottom: 10px
        }


        .modal-button{
            flex-direction: column;
            align-items: flex-start;
            padding-left: 20px;
            padding-right: 75px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3
            }

            .modal-button-dark{
                flex-direction: column;
                align-items: flex-start;
                padding-left: 20px;
                padding-right: 75px;
                background: #222738;
                border: 1px solid #404969;  
            }

            .modal-button1{
                flex-direction: column;
                align-items: flex-start;
                padding-left: 20px;
                padding-right: 75px;
                background: #FFFFFF;
                border: 1px solid #E3E3E3
                }
    
                .modal-button1-dark{
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 20px;
                    padding-right: 75px;
                    background: #222738;
                    border: 1px solid #404969;  

                }

                .modal-button2{
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 20px;
                    padding-right: 75px;
                    background: #FFFFFF;
                    border: 1px solid #E3E3E3

                    }
        
                    .modal-button2-dark{
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 20px;
                        padding-right: 75px;
                        background: #222738;
                        border: 1px solid #404969;  
                    }

                    .footer-button{
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 20px;
                        padding-right: 267px;
                        background: #FFFFFF;
                        color: #8A92A6;
                        border: 2px solid #E3E3E3
                        
                    }

                    .footer-button-dark{
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 20px;
                        padding-right: 267px;
                        background: #222738;
                        border: 2px solid #404969;
                    }


                    .heading-modal{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #232D42;
                        

                    }

                    .heading-modal-dark{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #8A92A6;
                    }

                    .modal-headings{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #232D42;
                    }

                    .modal-headings-dark{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #8A92A6;
                    }

                    .modal-headings1{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #232D42;
                    }

                    .modal-headings1-dark{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #8A92A6;
                    }
                    .modal-headings2{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #232D42;
                    }

                    .modal-headings2-dark{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #8A92A6;
                    }
                    .modal-headings3{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #232D42;
                    }

                    .modal-headings3-dark{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #8A92A6;
                    }

                    .modal-headings4{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #232D42;
                    }

                    .modal-headings4-dark{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #8A92A6;
                    }

                    .modal-headings5{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #232D42;
                    }

                    .modal-headings5-dark{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        color: #8A92A6;
                    }








    
    
    
