.widget-basic-page-container {
    background-image: url(/public/assets/new-dashboard-bg.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    background-size: 100% 215px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    padding: 0 0 40px 0;
}

.widget-basic-page-container>div {
    box-sizing: border-box;
}

.widget-basic-page-heading>div>h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.widget-basic-page-heading>div>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.widget-basic-page-heading>div>button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    background: rgba(58, 87, 232, 0.35);
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    animation: all 0.2s;
}

.widget-basic-page-heading>div>button:hover {
    background: rgba(32, 67, 243, 0.35);
    animation: all 0.2s;
}


.widget-basic-body {
    background: #ffffff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
}

.widget-basic-body h4 {
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}


.arrowpicture1 {
    background: rgba(192, 50, 33, 0.2);
    border-radius: 8px;
}

.arrowpicture {
    background: rgba(7, 154, 162, 0.2);
    border-radius: 8px;
}

.arrowpicture2 {
    background: rgba(26, 160, 83, 0.2);
    border-radius: 8px;
}

.arrow-blue {
    background: rgba(58, 87, 232, 0.2);
    border-radius: 8px;
}



.widget-medical-body {
    background: rgba(6, 139, 146, 0.2);
    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
}

.widget-medical-body-nurses {
    background: rgba(217, 95, 24, 0.2);
    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;

}

.widget-medical-body-patients {
    background: rgba(173, 45, 30, 0.2);
    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
}

.widget-medical-body-pharmastics {
    background: rgba(52, 78, 209, 0.2);
    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;

}

.widget-basic-working-time-body {
    background: #ffffff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
    border-bottom: 5px solid #738AFE;
}

.widget-basic-weekend-body {
    background: #ffffff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
    border-bottom: 5px solid #08B1BA;

}

.widget-basic-issue-body {
    background: #ffffff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
    border-bottom: 5px solid #C03221;
}

.widget-basic-income-body {
    background: #ffffff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
    border-bottom: 5px solid #F16A1B;

}

.widget-basic-order-body {
    background: #ffffff;
    border-radius: 8px;
    padding: 24px;
}

.earnigs {
    color: green;
}

.reviews>p {
    color: #079AA2;
}

.widget-basic-order-credit-body {
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
}

.total-customer-body {
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
}

.total-cusmers-card {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    padding: 24px;
}

.total-customers-card {
    padding: 24px;

    background: #FFFFFF;
    /* CARDS */

    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;
}

.checked {
    color: orange;
}

.blue-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #3A57E8;
    border-radius: 7px;
    color: #FFFFFF;
}

.calculate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #F16A1B;
    border-radius: 7px;
    color: #FFFFFF;
}

.profit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #079AA2;
    border-radius: 7px;
    border-radius: 7px;
    color: #FFFFFF;
}

.loss-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #C03221;
    border-radius: 7px;
    border-radius: 7px;
    color: #FFFFFF;
}

.widget-basic-order-credit-body h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 40px;
    color: #000000;
}

.grey-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #8A92A6;
    margin-bottom: 30px;
}

.grey-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232D42;
    margin-bottom: 30px;
}


.total-assets {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
    border-radius: 8px;

}

.total-assets h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 40px;
    color: #232D42;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.total-customers-card {
    height: 50%;
}

.widget-basic-assign-body {
    background: #ffffff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assign {
    padding: 8px 24px;
    background: #079AA2;
    border-radius: 4px;
    color: #FFFFFF;
}

.widget-basic-assign-body h3 .widget-basic-assign-body p {
    width: 100% !important;
}

.last-card-month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #3A57E8;
    border-radius: 4px;
    color: #FFFFFF;
}

.last-card-annual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #F16A1B;
    ;
    border-radius: 4px;
    color: #FFFFFF;
}


.last-card-today {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #C03221;
    border-radius: 4px;
    color: #FFFFFF;

}

.last-card-for-month {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #079AA2;
    border-radius: 4px;
    color: #FFFFFF;

}

.widget-basic-page-container button {
    border: none;
    outline: none;
}