.reset-password-container {
    min-height: 100vh;
    box-sizing: border-box;
}

.reset-password-form {
    box-sizing: border-box;
    padding: 6rem;
    background-image: url(/public/assets/bg-logo-l.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
}

.reset-password-form>div>h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 130%;
    color: #232D42;
}

.reset-password-form>h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 130%;
    color: #232D42;
}

.reset-password-form>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    text-align: center;
}

.reset-password-form>div>label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
}

.reset-password-form>div>input {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 227px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #738AFE;
    border-radius: 4px;
}

.reset-password-form>button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 44px;
    background: #3A57E8;
    border-radius: 4px;
    color: #FFFFFF;
}

.reset-password-form>button:hover {
    background-color: #1035ee;
}